.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  font-size: 30px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.msg-badge {
  position: absolute;
  top: 0;
  left: 0;
}


.icon-btn {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.icon-btn-l {
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
}

.icon-btn-withLabel {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Add space between the icon and the label */
}
.red-dot {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: red;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.settingMenuItem {
  /* display: flex; */
  text-align: right;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Flip the arrows for hebrew experience of the Calendar control */
.p-calendar .p-datepicker .p-datepicker-prev {
  transform: rotate(180deg);
}

.p-calendar .p-datepicker .p-datepicker-next {
  transform: rotate(180deg);
}