/* Styles for the registration component */
.registration-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-selection {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.family-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
}