/* Styles for the registration component */
.registration-component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-selection {
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
}

.family-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
}

.available-day {
    background-color: #1A92A2;
    color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.selected-day {
    border: orange 4px solid;
}

.alergies {
    font-weight: bold;
    color: #A94442;
}